<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jeannaude.spotify-kvm-switcher</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/spotify-kvm-switcher</string>
        <string>--config</string>
        <string>/Users/jeannaude/.config/spotify-kvm-switcher/config.toml</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/spotify-kvm-switcher.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/spotify-kvm-switcher.err</string>
</dict>
</plist>
