[Unit]
Description=Spotify KVM Auto-Switcher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
#ExecStart=%h/Documents/spotify_kvm_auto_switcher/.venv/bin/spotify-kvm-switcher --config %h/.config/spotify-kvm-switcher/config.toml  Linux Workstation path
ExecStart=/home/jeannaude/.pyenv/versions/3.11.9/bin/spotify-kvm-switcher --config %h/.config/spotify-kvm-switcher/config.toml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
